@inherits LayoutComponentBase
@using System.Reflection

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span>Hello, @context.User.FindFirst("preferred_username")?.Value</span>
                    <form method="post" action="/logout">
                        <AntiforgeryToken />
                        <button type="submit" class="nav-link">Logout</button>
                    </form>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="app-footer px-4">
            <span>@AppVersion</span>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private static string AppVersion { get; } =
        typeof(MainLayout).Assembly
            .GetCustomAttribute<System.Reflection.AssemblyInformationalVersionAttribute>()?
            .InformationalVersion ?? "dev";
}
